{% extends 'base.html' %}

{% block content %}
    <h1>Cadastrar Carro:</h1>
    <form method="POST">
        <input type="text" name="marca" placeholder="Marca" required><br>
        <input type="text" name="modelo" placeholder="Modelo" required><br>
        <input type="text" name="ano" placeholder="Ano" required><br>
        <input type="text" name="placa" placeholder="Placa" required><br>
        <input type="text" name="chassi" placeholder="Chassi" required><br>
        <input type="text" name="cor" placeholder="Cor" required><br>
        <input type="text" name="combustivel" placeholder="Combustível" required><br>
        <button type="submit">Salvar</button>
    </form>

    <h2>Lista de Carros:</h2>
    
    <ul>
        {% for carro in carros %}
            <li>
                {{ carro.marca, carro.modelo, carro.ano }}
                <a href="{{ url_for('carro.delete_carro', carro_id=carro.id) }}" class="btn btn-danger">Excluir</a>
                <a href="{{ url_for('carro.editar_carro', carro_id=carro.id) }}" class="btn btn-edit">Editar</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}